	/*--------------------------------------------
	**         Sistema Ax-MVC Aspectox
	**             01/06/2016
	**        Realizado por: AspectoX
	**      aspectox.creativa@gmail.com
	**-------------------------------------------*/

body{
	background: #3498db;
}

.signin-contenedor {
	width: 100%;
	max-width: 480px;
	padding: 15px;
	margin: 150px auto 0 auto;
}
.signin-form{
	width: 100%;
	padding: 30px;
	border: 1px solid #2980b9;
	background: #fff;
	border-radius: 4px;
	box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.75);
}

.signin-form a.logo{
	overflow: hidden;
	display: block;
	padding: 0px 20px 20px 20px;
	margin-bottom: 0;
}
.signin-form a.logo img{
	width: 100%;
	height: auto;
}

.signin-form .signin-text{
	color: #1a1a1a;
	display: block;
	font-size: 15px;
	font-style: italic;
	margin-bottom: 0px;
	position: relative;
	text-align: center;
}
.signin-form .signin-text span{
	display: inline-block;
	padding: 0 20px;
	position: relative;
	margin-bottom: 30px;
}
.signin-form .signin-text:before {
	background: #e4e4e4;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
}
i.fa.fa-facebook{
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 18px;
	line-height: 20px;
	text-align: center;
}
.alert{
	font-size: 14px;
}

span.signin-form-icon{
	border-right: 1px solid #d6d6d6;
	bottom: 9px;
	color: #d6d6d6;
	display: block;
	font-size: 14px;
	left: 0;
	line-height: 27px;
	position: absolute;
	text-align: center;
	top: 9px;
	width: 40px;
	z-index: 1002;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.form-group.w-icon input[type=password], .form-group.w-icon input[type=text] {
	font-size: 15px;
	padding-left: 56px;
	background-color: #fff!important;
}

.w-icon{
	position: relative;
}


