/* Alertas
--------------------------------------------------*/

.alert {
  padding: 15px;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: 4px;


  h4 {
	margin-top: 0;
	//
	color: inherit;
  }


  .alert-link {
	font-weight: bold;
  }


  > p,
  > ul {
	margin-bottom: 0;
  }

  > p + p {
	margin-top: 5px;
  }
}



.alert-dismissable,
.alert-dismissible {
  padding-right: (15px + 20);


  .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
  }
}



.alert-success {
  background-color: #dff0d8;
  border-color: darken(adjust-hue(#dff0d8, -10), 5%);
  color: #3c763d;
}

.alert-info {
  background-color: #d9edf7;
  border-color: darken(adjust-hue(#d9edf7, -10), 7%);
  color: #31708f;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: darken(adjust-hue(#fcf8e3, -10), 5%);
  color: #8a6d3b;
}

.alert-danger {
  background-color: #f2dede;
  border-color: darken(adjust-hue(#f2dede, -10), 5%);
  color: #a94442;
}
